<div id="chat-messages" class="messages">
  <div class="cdo-container"></div>
</div>
<div class="controls">
  <div class="horizontal">
    <textarea id="new-message" class="form-inline" placeholder="Enter your message here." maxlength="160" title="Shift + Enter to insert a new line."></textarea>
    <button id="send-new-message" class="btn btn-primary" disabled="disabled">Send Message</button>
  </div>
  <div class="horizontal">
    <button id="end-chat" class="btn btn-primary">End Chat</button>
  </div>
</div>